.buttons-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  max-width: 600px;
}

code {
  background-color: hsl(0, 0%, 85%);
  color: hsl(0, 0%, 20%);
  padding: 1rem;
  border-radius: 0.4rem;
}

p > code {
  padding: 0.2rem 0.4rem;
}

.example {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;
  width: 100%;
  padding: 4rem;
  margin: 2rem 0 0 0;
  position: relative;
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: hsl(210, 10%, 80%);
  background-color: hsl(0, 0%, 95%);
  box-shadow: 0 0 0.5rem hsla(210, 10%, 70%, 0.3);
}
.example::before {
  content: "Example";
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0.25rem 0.5rem;
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: hsl(210, 10%, 80%);
  margin: 0;
  position: absolute;
  font-size: 0.75rem;
  background-color: hsl(210, 17%, 98%);
  top: -1.1rem;
  left: 1rem;
}